<html>
    <body>
        <form method="post" action="/new">
            <label for="author">Author</label><br>
            <input type="text" name="author" id="author"><br>
            <label for="message">Message</label><br>
            <input type="text" name="message" id="message"><br>
            <button type="submit">Submit</button>
        </form>
        <a href="http://localhost:3000">Go back</a>
    </body>
</html>