<html>
    <body>
        <div>
            <h2>Message Details</h2><br>
            <p>User: <%= messageDetails.user %> </p><br>
            <p>Message: <%= messageDetails.text %> </p><br>
            <p>Date: <%= messageDetails.added %> </p>
        </div>
        <a href="http://localhost:3000">Go back</a>
    </body>
</html>